// ---- Base Color ----
// gray
$color-black        : black;
$color-gray         : #999;
$color-gray-light   : #eeeeef;

// blue
$color-blue-light   : #dee9ef;
$color-blue         : #53caf5;
$color-blue-dark    : darken($color-blue, 10%);

// text-color
$text-black         : #444;
$text-black-light   : #666;
$text-gray          : #8a8a8a;
$text-gray-light    : lighten($text-gray, 15%);

// ---- box model
$global-radius-width: 3px;
